<!-- <section class="copyright-section">
    <footer class="footer" id="footer">
        <p class="footer__content">
            © 2022 | All Rights Reserved | Developed with
            <span class="heart-icon">&#x2764;</span> by <a class="footer__link" href="#" data-team>GoIT Students</a>
        </p>
    </footer>
</section> -->
<footer class="footer">
    <p class="footer-copyright">
        © 2024 | All Rights Reserved |<br class="footer-break" />
        Developed with <span class="footer__icon">♥</span> by
        <a href="#" class="footer__team-link" data-modal-open>GoIT Students</a>
    </p>
</footer>
<div class="backdrop backdrop__is-hidden" data-modal>
    <div class="modal-window">
        <button type="button" class="modal-window__button" data-modal-close>
            <svg width="20px" height="20px" class="modal-window__close-icon">
                <use href="./images/icon-sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="team">
            <h2 class="team__title">Our Team</h2>
         
                <ul class="team__list">
                    <li class="team__item">
                        <img class="team__image" src="./images/team/charlton-teo-m.jpg" alt="Charlton Teo" />
                        <h3 class="team__item-title">Charlton Teo</h3>
                        <p class="team__item-text"><i>Team Leader</i></p>
                        <ul class="socials">
                            <li class="socials__item">
                                <a href="" class="socials__link">
                                    <svg width="20" height="20" class="socials__icon">
                                        <use href="./images/icon-sprite.svg#icon-instagram"></use>
                                    </svg>
                                </a>
                            </li>

                            <li class="socials__item">
                                <a href="" class="socials__link">
                                    <svg width="20" height="20" class="socials__icon">
                                        <use href="./images/icon-sprite.svg#icon-twitter"></use>
                                    </svg>
                                </a>
                            </li>

                            <li class="socials__item">
                                <a href="" class="socials__link">
                                    <svg width="20" height="20" class="socials__icon">
                                        <use href="./images/icon-sprite.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>

                            <li class="socials__item">
                                <a href="" class="socials__link">
                                    <svg width="20" height="20" class="socials__icon">
                                        <use href="./images/icon-sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>

                            <li class="team__item">
                                <img class="team__image" src="./images/team/ramon-villanueva-m.jpg" alt="Ramon Villanueva" />
                                <h3 class="team__item-title">Ramon Villanueva</h3>
                                <p class="team__item-text"><i>Scrum Master</i></p>

                                <ul class="socials">
                                    <li class="socials__item">
                                        <a href="" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="https://www.linkedin.com/in/ramon-villanueva-lpt" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="team__item">
                                <img
                        class="team__image"
                        src="./images/team/jotham-oboh-m.jpg"
                        alt="Jotham Oboh"
                    />
                                <h3 class="team__item-title">Jotham Oboh</h3>
                                <p class="team__item-text"><i>Developer</i></p>

                                <ul class="socials">
                                    <li class="socials__item">
                                        <a href="https://www.instagram.com/jothamoseyi/" target="_blank" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="https://twitter.com/OseyiOboh?t=kjUv8l6HbDwqFOpVt_tQlw&s=08" target="_blank"
                                            class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="https://m.facebook.com/profile.php/?id=100004858382745&name=xhp_nt_"
                                            target="_blank" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="https://www.linkedin.com/in/oseyi-jotham-185944228/?originalSubdomain=ng"
                                            target="_blank" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="team__item">
                                <img class="team__image" src="./images/team/paulo-solanoy-m.jpg" alt="Paulo Solanoy" />
                                <h3 class="team__item-title">Paulo Solanoy</h3>
                                <p class="team__item-text"><i>Developer</i></p>

                                <ul class="socials">
                                    <li class="socials__item">
                                        <a href="" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="https://www.linkedin.com/in/paulo-solanoy-2a4a8a267/" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="team__item">
                                <img class="team__image" src="./images/team/cris-ignacio-m.jpg" alt="Cris Ignacio" />
                                <h3 class="team__item-title">Cris Ignacio</h3>
                                <p class="team__item-text"><i>Developer</i></p>
                                <ul class="socials">
                                    <li class="socials__item">
                                        <a href="" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="https://www.linkedin.com/in/mrcrisignacio/" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="team__item">
                                <img
                        class="team__image"
                        src="./images/team/edwin-teves-m.jpg"
                        alt="Edwin Teves"
                    />
                                <h3 class="team__item-title">Edwin Teves</h3>
                                <p class="team__item-text"><i>Developer</i></p>

                                <ul class="socials">
                                    <li class="socials__item">
                                        <a href="" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="socials__item">
                                        <a href="" class="socials__link">
                                            <svg width="20" height="20" class="socials__icon">
                                                <use href="./images/icon-sprite.svg#icon-linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
        </div>
    </div>
</div>
