<div class="loader">
    <div class="loader-div">
        <div class="loader-circle ">
        </div>
        <img class="loader-logo" src="./images/loader-codecommandos.png" alt="student profile picture" />
        <div class="loader-progressbar">
            <div class="custom-loader">
            </div>
            <svg class="loader-progressbar-svg">
                <circle cx="130" cy="130" r="130" class="loader-progressbar-svg-circle circle-html loader-circle-shadow"> </circle>
            </svg>
        </div>
    </div>
</div>