<div class="main-card-modal" id="modal-1" aria-hidden="true">
    <div class="main-card-modal-overlay" tabindex="-1" data-micromodal-close>
      
      <div class="main-card-modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">

            <div class="main-card-modal-header">
              <button class="main-card-modal-close" aria-label="Close modal" data-micromodal-close></button>
            </div>

            <div class="main-card-modal-top-image">
            </div>

            <div class="main-card-modal-content" id="modal-1-content">
                <div class="event__image">
                </div>

                <div class="event__details">
                  <div class="event-info-box">
                    <h2 class="event__info_title">INFO</h2>
                    <div class="event__info"></div>
                  </div>
                  <div class="event-when-box">
                    <h2>WHEN</h2>
                    <div class="event__start_date"></div>
                  </div>

                  <div class="event-where-desk-box">
                    <h2>WHERE</h2>
                    <div class="event__place"></div>
                  </div>
                  
                  <div class="event-who-mob-box">
                    <h2>WHO</h2>
                    <div class="event__who-mob"></div>
                  </div>
                  
                  <div class="event-prices-mob-box">
                    <h2>PRICES</h2>
                    <div class="event__prices-mob"></div>
                  </div>

                  <div class="main-card-modal-footer-mob">
                    <button class="event__btn2">MORE FROM THIS AUTHOR</button>
                  </div>
                </div>
                
            </div>

            <div class="main-card-modal-content-2" id="modal-1-content">
                <div class="event-where-tab-box">
                  <h2>WHERE</h2>
                  <div class="event__place-tab"></div>
                </div>
                <div class="event-who-box">
                  <h2>WHO</h2>
                  <div class="event__who"></div>
                </div>
                
                <div class="event-prices-box">
                  <h2>PRICES</h2>
                  <div class="event__prices"></div>
                </div>
                
              </div>
              <div class="main-card-modal-footer">
                <button class="event__btn2">MORE FROM THIS AUTHOR</button>
              </div>
           
        </div>
    </div>
</div>